:root {
  box-sizing: border-box;
  --square-size: 3.5rem;
  --square-border-width: 2px;

  --gradient: radial-gradient(circle, var(--color-accent) 0%, var(--color-button-primary) 89%);
  --spawn-size: 7rem;
  --dice-button-size: 2rem;
  --column-size: 7vw;
  --pawn-width: 1.1rem;
  --pawn-height: 1.1rem;

  --font-inter: 'Inter', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;

  --background-default: white;
  --border-color: black;
}

body {
  font-family: var(--font-inter);
  padding: 0;
  margin: 0;
  background-color: var(--border-color);
}

/* #region modals */
.modal-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
}

.display-none {
  display: none !important;
}

.game-info {
  border: 2px solid var(--border-color);
  width: 100px;
  height: 100px;
  display: flex;
}

.game-info-top-left {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

/* #endregion */
/* #region game-wrapper */
#game-wrapper {
  background-color: white;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

.column {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-between;
}

.column-left {
  order: 1;
  justify-items: start;
}

.column-right {
  order: 3;
  justify-items: end;
}

.column-middle {
  order: 2;
  grid-column: span 1;
}

/* #endregion */

/* #region pawns-and-pawn-squares */
.pawn-square-spawn {
  background-color: var(--background-default);
  border: 2px solid var(--border-color);
  width: var(--spawn-size);
  height: var(--spawn-size);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.spawn-container {
  display: flex;
  flex-direction: column;
}

.finished-pawns {
  width: var(--spawn-size);
  height: calc(var(--pawn-height) * 1.25);
  background-color: var(--background-default);
  border: 2px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.pawn {
  width: var(--pawn-width);
  height: var(--pawn-height);
}

.win-lane {
  border: 2px solid var(--border-color);
}

#pawns-blue,
#pawns-red {
  order: 1;
}

.finished-pawns-blue,
.finished-pawns-red {
  order: 2;
}

/* #endregion */

/* #region board */
.board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  place-items: center;
}

.square {
  background-color: var(--background-default);
  border: 2px solid var(--border-color);
  width: var(--square-size);
  height: var(--square-size);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}


.three-row {
  display: flex;
}

.longest-row {
  display: flex;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: var(--border-color);
}

.green-light {
  background-color: lightgreen;
}

.red-light {
  background-color: pink;
}

.blue-light {
  background-color: lightblue;
}

.yellow-light {
  background-color: rgb(255, 255, 126);
}

/* #endregion  */

/* #region bottom-dice */
.dice-wrapper {
  display: flex;
  justify-content: center;
  height: var(--spawn-size);
  align-items: center;
  gap: 1rem;
}

.dice {
  background-color: var(--border-color);
  width: var(--dice-button-size);
  height: var(--dice-button-size);
  z-index: 9999;
}

/* #endregion */
/* #region board-history */

.board-history-wrapper {
  display: flex;
  align-items: center;
}

.board-history {
  background-color: var(--background-default);
  overflow: scroll;
  height: 25rem;
  width: calc(var(--spawn-size) *1.7);
  border: 2px solid var(--border-color);
  z-index: 9999;
}

.board-history-table thead {
  font-weight: bold;
  line-height: 1.5rem;
}

.board-history-table thead>tr {
  border-bottom: 3px solid var(--border-color);
}

.board-history-table tbody>tr {
  border-bottom: 1px solid var(--border-color);
}

.wide-history {
  grid-column: span 2;
  order: 4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table>tbody>tr>td:nth-child(2) {
  color: var(--player-color)
}

/* #endregion */
/* #region player-and-dice */
.player-and-dice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.player {
  width: 7rem;
  font-size: 2rem;
}

.dice-throw {
  position: relative;
  width: 100px;
  height: 100px;
}

[class*="fa-"] {
  position: absolute;
  font-size: 100px;
  visibility: hidden;
  transform: scale(100%);
  transition: all 0.5s ease-in;
}

[class*="fa-"]:hover {
  transform: scale(110%);
  transition: all 0.5s ease-in;
}

/* #endregion */

@media (max-width:970px) {
  .modal-wrapper {
    align-items: flex-start;
  }

  #pawns-blue,
  #pawns-red {
    order: 2;
  }

  .finished-pawns-blue,
  .finished-pawns-red {
    order: 1;
  }

  #game-wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .column-left {
    order: 2;
    justify-items: end;
  }

  .column-right {
    justify-items: start;
    order: 3;
  }

  .column-right .pawns-green {
    order: 2;
  }

  .column-right .board-history-wrapper {
    grid-column: span 2;
    order: 3;
  }

  .column-middle {
    order: 1;
    grid-column: span 2;
  }

  .column {
    align-content: start;
    grid-template-columns: 1fr 1fr;
  }

  .board-history-wrapper {
    width: 100%;
  }



  .board-history {
    width: 100%;
  }
}